{% extends 'catalog/base.html' %}
{% block content %}


<div class="container">
    <div class="row text-center">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Регуляция эмоций</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$10/мес</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <ul>
                        <li>Ослабляем негативные эмоции</li>
                        <li>Контакт с позитивными эмоциями</li>
                        <li>Распознаем эмоции и автоматические негативные мысли</li>
                        <li>Валидация эмоции</li>
                        </ul>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-dark">Купить</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Нетревожный бот</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$10/мес</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <ul>
                        <li>Нейробиология и физиология тревоги</li>
                        <li>Как помочь себе при тревоге?</li>
                        <li>Разбираемся, что влияет на тревогу</li>
                        <li>Используем дыхательные практики</li>
                        </ul>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-dark">Купить</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Безоценочные суждения</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$10/мес</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <ul>
                        <li>Оценочное vs безоценочное</li>
                        <li>Развиваем навык безоценочных суждений</li>
                        <li>Учимся разделять фантазии и реальность</li>
                        <li>Прокачиваем осознанную коммуникацию</li>
                        </ul>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-dark">Купить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
