{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
{% load static %}

<div class="container">

    <div class="container">
        <div class="p-1 text-center text-bg-light border border-dashed rounded-5">
            <img src="{% mymedia object.pic %}">
            <h1 class="text-body-emphasis">{{ object.title }} </h1>
            <h4 class="text-body-emphasis">{{ object.category }}</h4> <br>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                {{ object.description }}
            </p>
            {% include 'catalog/includes/inc_catalog_botprice.html' %} <br>
            <div class="d-inline-flex gap-2 mb-3">
                <a href="{% url 'catalog:product' object.pk|prev_pk %}"
                   class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                    <<
                </a>
                <button class="d-inline-flex align-items-center btn btn-dark btn-lg px-4 rounded-pill" type="button">
                    Купить
                </button>
                <a href="{% url 'catalog:product' object.pk|next_pk %}"
                   class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                    >>
                </a>
            </div>
            <div class="row text-start text-muted">
                <h6>Запись создана: {{ object.created_at }}</h6>
                <h6>Запись изменена: {{ object.updated_at }}</h6>
            </div>
<!--            <div class="row text-end">-->
<!--                <div class="d-flex justify-content-between align-items-end">-->
<!--                    <div class="btn-group">-->
<!--                        <a href="#" type="button"-->
<!--                           class="btn btn-sm btn-outline-secondary float-right">Edit</a>-->
<!--                        <a href="#" type="button"-->
<!--                           class="btn btn-sm btn-outline-danger float-right">Delete</a>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
        </div>
    </div>
    {% endblock %}